<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{ "https://github.com/cypherpunksbr/cypherpunks.com.br/blob/master/css/main.scss" | prepend: site.baseurl }}">
</head>
