<!-- extend base layout -->
{% extends "doc.html" %}
{% block doc %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <style>
        .contents,
        .references {
            list-style: none;
            text-indent: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="page-header">
        <h1 class="text-center">Carta agradecendo pelas 50,000 assinaturas
            <br><small>Ross Ulbricht</small>
        </h1>
        <h4 class="text-center">
            <p>
                Enviado em 8 de agosto de 2018
            </p>
        </h4>
    </div>
    <p class="text-center">
        <em>Site originario - <a href="https://freeross.org/letter-for-50k-signatures/">Free Ross Ulbricht</a></em>
    </p>
    <p>
        Olá a todos,
    </p>
    <p>
        Eu estou espantado pelo amor e suporte que vocês me deram nas últimas semanas. Tivemos 50 mil assinaturas na
        petição pela minha clemêmencia. Os comentários encorajadores, os tweets, os artigos, suas atenções e apoio
        a minha liberdade ... isso tudo é muito inspirador. Com vocês atrás de mim
        <!--incerteza de tradução-->, espero que a petição continue crescendo até que tenha a atenão do Presidente.
        Obrigado por tudo o que estão fazendo em meu nome.
    </p>
    <p>
        Sinceramente,
        <br>Ross
    </p>
    <p>
        <em>Se você ainda não assinou o pedido de clemência de Ross, pode assinar </em><a href="https://www.change.org/p/freerosspetition-we-seek-potus-s-clemency-for-ross-ulbricht-serving-double-life-for-a-website-realdonaldtrump-free-ross">
            aqui</a>.
    </p>
    <img src="../pages/img/Ross_50k_note.jpg" alt="">
</div>
{% endblock %}