<!-- extend base layout -->
{% extends "doc.html" %}
{% block doc %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="page-header">
		<h1 class="text-center">
			Uma declaração da independência do ciberespaço <br><small>John Perry Barlow</small>
		</h1>
		<h4 class="text-center">
			8 de Fevereiro de 1996
		</h4>
  </div>

	<p>
		Governos do Mundo Industrial, vocês, gigantes cansados de carne e aço, eu venho do Ciberespaço, o novo lar da Mente. Em nome do futuro, peço-lhe do passado para nos deixar em paz. Você não é bem vindo entre nós. Você não tem soberania onde nos reunimos.
	</p>

	<p>
		Nós não elegemos nenhum governo, nem é provável que elejamos um, então eu dirijo a você sem maior autoridade do que aquela com a qual a própria liberdade sempre fala. Eu declaro que o espaço social global que estamos construindo é naturalmente independente das tiranias que você procura nos impor. Você não tem direito moral de nos governar nem possui quaisquer métodos de execução que tenhamos motivos para temer.
	</p>

	<p>
		Os governos obtêm seus poderes através do consentimento dos governados. Você não solicitou e nem recebeu o nosso. Nós não solicitamos você. Você não nos conhece, nem conhece o nosso mundo. O ciberespaço não está dentro de suas fronteiras. Não pense que você pode construí-lo, como se fosse um projeto de construção pública. Você não pode. É um ato da natureza e cresce através de nossas ações coletivas.
	</p>

	<p>
		Você não se engajou em nossa grande e produtiva conversa, nem criou a riqueza de nossos mercados. Você não conhece nossa cultura, nossa ética ou os códigos não escritos que já fornecem à nossa sociedade mais ordem do que poderia ser obtida por qualquer uma de suas imposições.
	</p>

	<p>
		Você afirma que há problemas entre nós que você precisa resolver. Você usa essa afirmação como uma desculpa para invadir nosso arredores. Muitos desses problemas não existem. Onde há conflitos reais, onde existem erros, nós os identificamos e os endereçamos por nossos meios. Estamos formando nosso próprio contrato social. Este governo surgirá de acordo com as condições do nosso mundo, não o seu. Nosso mundo é diferente.
	</p>

	<p>
		O ciberespaço consiste em transações, relacionamentos e pensamentos por si próprios, dispostos como uma onda estacionária na rede de nossas comunicações. Nosso mundo é um mundo que está em toda parte e em nenhum lugar, mas não é onde moram os corpos.
	</p>

	<p>
		Estamos criando um mundo no qual todos podem entrar sem privilégios ou preconceitos concedidos por raça, poder econômico, força militar ou 'status' de nascimento.
	</p>

	<p>
		Estamos criando um mundo onde qualquer pessoa, em qualquer lugar, pode expressar suas crenças, por mais singular que seja, sem medo de ser coagido ao silêncio ou à conformidade.
	</p>

	<p>
		Seus conceitos legais de propriedade, expressão, identidade, movimento e contexto não se aplicam a nós. Todos eles são baseados na matéria e não há matéria aqui.
	</p>

	<p>
		Nossas identidades não têm corpos, assim, ao contrário de você, não podemos obter ordem por coerção física. Acreditamos que, da ética, do autointeresse esclarecido e do bem comum, nossa governança surgirá. Nossas identidades podem ser distribuídas em muitas das suas jurisdições. A única lei que todas as nossas culturas constituintes geralmente reconhecem é a Regra de Ouro. Esperamos que possamos construir nossas soluções particulares com base nisso. Mas não podemos aceitar as soluções que você está tentando impor.
	</p>

	<p>
		Nos Estados Unidos, você criou hoje uma lei, a Lei de Reforma das Telecomunicações, que repudia sua própria Constituição e insulta os sonhos de Jefferson, Washington, Mill, Madison, DeToqueville e Brandeis. Estes sonhos devem agora nascer de novo em nós.
	</p>

	<p>
		Você tem pavor de seus próprios filhos, pois eles são nativos em um mundo onde você sempre será imigrante. Porque você os teme, você confia suas burocracias com as responsabilidades parentais, você é muito covarde para se confrontar. Em nosso mundo, todos os sentimentos e expressões da humanidade, desde o rebaixamento até o angélico, são partes de um todo perfeito, a conversação global de bits. Não podemos separar o ar que sufoca do ar sobre o qual as asas batem.
	</p>

	<p>
		Na China, Alemanha, França, Rússia, Cingapura, Itália e Estados Unidos, você está tentando afastar o vírus da liberdade, erguendo postos de guarda nas fronteiras do ciberespaço. Estes podem evitar o contágio por um curto período, mas não funcionarão em um mundo que em breve será coberto pela mídia baseada em bits.
	</p>

	<p>
		Suas indústrias de informação cada vez mais obsoletas se perpetuariam propondo leis, na América e em outros lugares, que reivindicam o próprio discurso em todo o mundo. Essas leis declarariam as idéias como outro produto industrial, não mais nobre que o ferro-gusa. Em nosso mundo, o que quer que a mente humana possa criar, pode ser reproduzido e distribuído infinitamente, sem nenhum custo. O transporte global do pensamento não requer mais que suas fábricas para se concretizar.
	</p>

	<p>
		Essas medidas cada vez mais hostis e coloniais nos colocam na mesma posição daqueles amantes anteriores da liberdade e da autodeterminação que tiveram que rejeitar as autoridades de poderes distantes e desinformados. Devemos declarar nossos egos virtuais imunes à sua soberania, mesmo enquanto continuamos a consentir em seu domínio sobre nossos corpos. Nós nos espalharemos pelo Planeta para que ninguém possa deter nossos pensamentos.
	</p>

	<p>
		Vamos criar uma civilização da mente no ciberespaço. Que seja mais humano e justo do que o mundo que seus governos fizeram antes.F
	</p>

	<p>
		Davos, Suíça<br>
		8 de Fevereiro de 1996
	</p>

</div>
{% endblock %}
