<!-- extend base layout -->
{% extends "doc.html" %}
{% block doc %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <style>
        .contents,
        .references {
            list-style: none;
            text-indent: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="page-header">
        <h1 class="text-center">Carta de Ross para o Crypto Show
            <br><small>Ross Ulbricht</small>
        </h1>
        <h4 class="text-center">
            <p>
                Enviado terça-feira,30 de julho de 2015
            </p>
        </h4>
    </div>
    <p class="text-center">
        <em>Site originario - <a href="https://freeross.org/crypto-show-letter-2015/">Free Ross Ulbricht</a></em>
    </p>
    <p>
        Para todos do The Crypto Show
    </p>
    <p>
        Eu escrevo para expressar minha gratidão por tudo o que vocês estão fazendo em meu nome. Minha mãe, Lynn, me
        contou que vocês estavam indo acima e além, contribuindo para o esforço de angariação de fundos e direcionando
        sua criatividade e energia para minha causa. Obrigado!
    </p>
    <p>
        Isso fala sobre o seu caráter
        <!--incerteza de tradução-->, que vocês fariam isso por alguém que nunca conheceram, mas eu também entendo que
        essa luta não é apenas sobre mim. O que eles fizeram e continuam a fazer comigo ameaça todos nós que amamos a
        liberdade.
    </p>
    <p>
        Eles lutaram com unhas e dentes para segurar minha convicção, mas foram longe demais suprimindo todas as
        evidências que contradizem sua história. Agora é a nossa vez de retirar as paradas e mostrar exatamente o que
        foi feito, para que os erros possam ser corrigidos e esse terrível precedente revertido.
        <!--incerteza de tradução-->
    </p>
    <p>
        Eu gostaria de estar com vocês, mas estou em um caminho diferente por enquanto. Não importa onde eu esteja,
        saiba que sempre estarei ao lado de vocês pela liberdade.
    </p>
    <p>
        Seu amigo,
        <br> Ross
    </p>
    <img src="../pages/img/Letter_crypto-fundraiser.jpg" alt="">
</div>
{% endblock %}
