<!-- extend base layout -->
{% extends "doc.html" %}
{% block doc %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="page-header">
    <h1 class="text-center">
      O direito de ler <br><small>Richard Stallman</small>
    </h1>
    <h4 class="text-center">
      Originalmente publicado em 1996<br>
    </h4>
  </div>

    <p>
        <em>Tirado de "The Road to Tycho", uma coletânea de artigos sobre os antecedentes da Revolução Lunariana, publicada em Luna City em 2096.</em>
    </p>

    <p>
        Para Dan Halbert, a estrada para Tycho começou na faculdade - quando Lissa Lenz pediu emprestado seu computador. Ela tinha quebrado, e a menos que ela pudesse emprestar outra, ela falharia em seu projeto de meio de mandato. Não havia ninguém que ela ousasse perguntar, exceto Dan.
    </p>

    <p>
        Isso colocou Dan em um dilema. Ele tinha que ajudá-la, mas se ele emprestasse seu computador, ela poderia ler seus livros. Além do fato de que você poderia ir para a prisão por muitos anos por deixar alguém ler seus livros, a própria idéia o chocou a princípio. Como todos, ele aprendera desde a escola primária que compartilhar livros era desagradável e errado - algo que apenas os piratas fariam.
    </p>

    <p>
        E não havia muita chance de que a SPA - a Autoridade de Proteção de Software - falhasse em pegá-lo. Em sua aula de software, Dan sabia que cada livro tinha um monitor de direitos autorais que informava quando e onde era lido e por quem, para o Licenciamento Central. (Eles usaram essa informação para capturar piratas lidos, mas também para vender perfis de interesse pessoal para varejistas.) Na próxima vez em que seu computador estivesse em rede, a Central Licensing descobriria. Ele, como proprietário do computador, receberia o castigo mais severo - por não se esforçar para evitar o crime.
    </p>

    <p>
        Obviamente Lissa não pretendia necessariamente ler seus livros. Ela pode querer que o computador apenas a escreva no meio do caminho. Mas Dan sabia que ela vinha de uma família de classe média e não podia pagar as mensalidades, muito menos as taxas de leitura. Lendo seus livros pode ser a única maneira que ela poderia se formar. Ele entendeu essa situação; ele mesmo teve que pedir emprestado para pagar todos os documentos de pesquisa que leu. (Dez por cento dessas taxas foram para os pesquisadores que escreveram os artigos; desde que Dan visava uma carreira acadêmica, ele podia esperar que seus próprios documentos de pesquisa, se frequentemente referenciados, trouxessem o suficiente para pagar esse empréstimo.)
    </p>

    <p>
        Mais tarde, Dan ficaria sabendo que havia uma época em que alguém poderia ir à biblioteca e ler artigos de periódicos e até livros, sem ter que pagar. Havia estudiosos independentes que liam milhares de páginas sem subvenções da biblioteca do governo. Mas na década de 1990, tanto os editores de revistas comerciais quanto os sem fins lucrativos começaram a cobrar taxas pelo acesso. Em 2047, as bibliotecas que ofereciam acesso público gratuito à literatura acadêmica eram uma memória fraca.
    </p>

    <p>
        Havia maneiras, claro, de contornar o SPA e o Licenciamento Central. Eles eram eles mesmos ilegais. Dan tinha tido um colega de turma em software, Frank Martucci, que havia obtido uma ferramenta de depuração ilícita, e a usava para pular o código do monitor de direitos autorais ao ler livros. Mas ele contara a muitos amigos sobre o assunto, e um deles o entregou ao SPA por uma recompensa (estudantes profundamente endividados foram facilmente tentados a traí-lo). Em 2047, Frank estava na prisão, não por leitura de piratas, mas por possuir um depurador.
    </p>

    <p>
		Dan aprenderia mais tarde que houve um tempo em que alguém poderia ter ferramentas de depuração. Havia até mesmo ferramentas de depuração gratuitas disponíveis em CD ou descarregáveis ​​na rede. Mas os usuários comuns começaram a usá-los para ignorar os monitores de direitos autorais e, eventualmente, um juiz decidiu que isso se tornara seu principal uso na prática real. Isso significava que eles eram ilegais; os desenvolvedores dos depuradores foram enviados para a prisão.
    </p>

    <p>
		Os programadores ainda precisavam de ferramentas de depuração, é claro, mas os fornecedores de depuradores em 2047 apenas distribuíam cópias numeradas e apenas para programadores oficialmente licenciados e vinculados. O depurador Dan usado na classe de software foi mantido atrás de um firewall especial para que pudesse ser usado apenas para exercícios de classe.
    </p>

    <p>
        Também foi possível ignorar os monitores de direitos autorais instalando um kernel do sistema modificado. Dan acabaria descobrindo sobre os núcleos gratuitos, até mesmo os sistemas operacionais livres, que existiam por volta da virada do século. Mas eles não eram apenas ilegais, como depuradores - você não podia instalar um se tivesse um, sem saber a senha de root do seu computador. E nem o FBI nem o Suporte da Microsoft lhe diriam isso.
    </p>

    <p>
        Dan concluiu que ele não poderia simplesmente emprestar a Lissa seu computador. Mas ele não podia se recusar a ajudá-la, porque ele a amava. Toda chance de falar com ela o encheu de prazer. E que ela o escolheu para pedir ajuda, isso poderia significar que ela também o amava.
    </p>

    <p>
        Dan resolveu o dilema fazendo algo ainda mais impensável - ele emprestou-lhe o computador e disse-lhe sua senha. Dessa forma, se Lissa lesse seus livros, a Central Licensing pensaria que ele estava lendo. Ainda era um crime, mas o SPA não iria descobrir automaticamente sobre isso. Eles só descobririam se Lissa o denunciasse.
    </p>

    <p>
        É claro que, se a escola descobrisse que ele havia dado a Lissa sua própria senha, seriam cortinas para os dois como estudantes, independentemente do que ela tivesse usado. A política da escola era de que qualquer interferência em seus meios de monitorar o uso do computador pelos alunos era motivo para ação disciplinar. Não importava se você fez alguma coisa prejudicial - a ofensa estava dificultando a verificação dos administradores. Eles assumiram que isso significava que você estava fazendo outra coisa proibida, e eles não precisavam saber o que era.
    </p>

    <p>
        Os estudantes geralmente não eram expulsos por isso - não diretamente. Em vez disso, foram banidos dos sistemas de computadores da escola e inevitavelmente falhariam em todas as suas aulas.
    </p>

    <p>
        Mais tarde, Dan aprenderia que esse tipo de política universitária começou apenas na década de 1980, quando estudantes universitários em grande número começaram a usar computadores. Anteriormente, as universidades mantinham uma abordagem diferente para a disciplina estudantil; puniam atividades nocivas, não aquelas que apenas levantavam suspeitas.
    </p>

    <p>
        Lissa não denunciou Dan ao SPA. Sua decisão de ajudá-la levou ao casamento e também levou-os a questionar o que aprenderam sobre a pirataria quando crianças. O casal começou a ler sobre a história dos direitos autorais, sobre a União Soviética e suas restrições à cópia, e até mesmo sobre a Constituição original dos Estados Unidos. Eles se mudaram para Luna, onde encontraram outros que também haviam se afastado do longo braço do SPA. Quando a revolta de Tycho começou em 2062, o direito universal de ler logo se tornou um de seus objetivos centrais.
    </p>
    
    <hr>

    <h3>Nota do autor</h3>

    <p>
        <em>Esta nota foi atualizada várias vezes desde a primeira publicação da história.</em>
    </p>

    <p>
        O direito de ler é uma batalha que está sendo travada hoje. Embora possa levar 50 anos para que nosso modo de vida atual se desvanece na obscuridade, a maioria das leis e práticas específicas descritas acima já foram propostas; muitos foram promulgados como lei nos EUA e em outros lugares. Nos EUA, o Digital Millennium Copyright Act de 1998 (DMCA) estabeleceu a base legal para restringir a leitura e empréstimo de livros informatizados (e outros trabalhos também). A União Europeia impôs restrições semelhantes em uma diretiva de direitos autorais de 2001. Na França, de acordo com a lei DADVSI adotada em 2006, a mera posse de uma cópia do DeCSS, o programa gratuito para descriptografar um vídeo em um DVD, é um crime.
    </p>

    <p>
        Em 2001, o senador Hollings, financiado pela Disney, propôs um projeto de lei chamado SSSCA, que exigiria que cada novo computador tivesse instalações obrigatórias de restrição de cópias que o usuário não pode ignorar. Seguindo o chip Clipper e propostas semelhantes de cofres de chaves do governo dos EUA, isso mostra uma tendência de longo prazo: os sistemas de computador estão sendo cada vez mais configurados para dar aos ausentes controle sobre as pessoas que realmente usam o sistema de computador. O SSSCA foi depois renomeado para o impronunciável CBDTPA, que foi descrito como "Consumir, mas não tente programar".
    </p>

    <p>
        Os republicanos assumiram o controle do Senado dos EUA pouco depois. Eles estão menos ligados a Hollywood do que os democratas, então eles não pressionaram essas propostas. Agora que os democratas estão de volta ao controle, o perigo é mais uma vez maior.
    </p>

    <p>
        Em 2001, os EUA começaram a tentar usar o Tratado de Área de Livre Comércio das Américas (ALCA) para impor as mesmas regras a todos os países do Hemisfério Ocidental. A ALCA é um dos chamados tratados de livre comércio, que na verdade são destinados a dar aos negócios maior poder sobre os governos democráticos; impor leis como a DMCA é típico desse espírito. A Alca foi efetivamente morta por Lula, presidente do Brasil, que rejeitou a exigência da DMCA e outros.
    </p>

    <p>
       Desde então, os EUA impuseram exigências semelhantes em países como a Austrália e o México por meio de acordos bilaterais de "livre comércio", e em países como a Costa Rica por meio de outro tratado, o CAFTA. O presidente do Equador, Correa, se recusou a assinar um acordo de "livre comércio" com os EUA, mas eu ouvi que o Equador adotou algo como o DMCA em 2003.
    </p>

    <p>
        Uma das idéias da história não foi proposta na realidade até 2002. Essa é a idéia de que o FBI e a Microsoft manterão as senhas de raiz dos seus computadores pessoais, e não permitirão que você as tenha.
    </p>

    <p>
        Os proponentes desse esquema deram nomes como "computação confiável" e "paládio". Chamamos isso de <a href="https://www.gnu.org/philosophy/can-you-trust.html">"computação traiçoeira"</a> porque o efeito é fazer com que o seu computador obedeça às empresas, até mesmo ao ponto de desobedecer e desafiar você. Isso foi implementado em 2007 como parte do <a href="http://badvista.org/">Windows Vista</a>; esperamos que a Apple faça algo semelhante. Nesse esquema, é o fabricante que mantém o código secreto, mas o FBI não teria dificuldade em consegui-lo.
    </p>

    <p>
        O que a Microsoft guarda não é exatamente uma senha no sentido tradicional; Ninguém nunca digita em um terminal. Pelo contrário, é uma chave de assinatura e criptografia que corresponde a uma segunda chave armazenada em seu computador. Isso permite que a Microsoft e, potencialmente, quaisquer sites da Web que cooperem com a Microsoft tenham o controle total sobre o que o usuário pode fazer em seu próprio computador.
    </p>

    <p>
        O Vista também oferece poderes adicionais à Microsoft; por exemplo, a Microsoft pode forçar a instalação de atualizações e pode ordenar que todas as máquinas que executam o Vista se recusem a executar um determinado driver de dispositivo. O principal objetivo das muitas restrições do Vista é impor DRM (Digital Restrictions Management) que os usuários não podem superar. A ameaça do DRM é porque estabelecemos a campanha <a href="http://defectivebydesign.org/">Defective by Design</a>.
    </p>

    <p>
        Quando essa história foi escrita pela primeira vez, o SPA estava ameaçando os pequenos provedores de serviços de Internet, exigindo que eles permitissem que o SPA monitorasse todos os usuários. A maioria dos ISPs se rendeu quando ameaçada, porque eles não podem se dar ao luxo de lutar no tribunal. Um ISP, Community ConneXion em Oakland, Califórnia, recusou a demanda e foi realmente processado. O SPA mais tarde desistiu do processo, mas obteve o DMCA, que lhes deu o poder que procuravam.
    </p>

    <p>
        O SPA, que na verdade significa Associação de editores de software, foi substituído em sua função de polícia pela Business Software Alliance. A BSA não é, hoje, uma força policial oficial; não oficialmente, age como um. Usando métodos reminiscentes da antiga União Soviética, ela convida as pessoas a informar seus colegas de trabalho e amigos. Uma campanha terrorista da BSA na Argentina em 2001 fez ameaças levemente veladas de que pessoas que compartilham software seriam estupradas.
    </p>

    <p>
        As políticas de segurança da universidade descritas acima não são imaginárias. Por exemplo, um computador em uma universidade da região de Chicago exibe essa mensagem no login:
    </p>

    <blockquote>
        Este sistema é para uso apenas de usuários autorizados. Indivíduos usando este sistema de computador sem autoridade ou em excesso de sua autoridade estão sujeitos a ter todas as suas atividades neste sistema monitoradas e registradas pelo pessoal do sistema. No decorrer do monitoramento de pessoas que usam indevidamente este sistema ou durante a manutenção do sistema, as atividades do usuário autorizado também podem ser monitoradas. Qualquer um que use este sistema consente expressamente com tal monitoramento e é aconselhado que, se tal monitoramento revelar possíveis evidências de atividade ilegal ou violação dos regulamentos da Universidade, o pessoal do sistema pode fornecer evidência de tal monitoramento para as autoridades da Universidade e / ou oficiais da lei.
    </blockquote>

    <p>
        Esta é uma abordagem interessante para a Quarta Emenda: pressionar a maioria de todos a concordar, com antecedência, em renunciar a seus direitos sob ela.
    </p>

    <hr>

    <h3>Más notícias</h3>

    <p>
        A batalha pelo direito de ler já está em andamento. O inimigo é organizado, enquanto nós não somos, então está indo contra nós. Aqui estão os artigos sobre coisas ruins que aconteceram desde a publicação original deste artigo.
    </p>

    <ul>
        <li>Os ebooks comerciais de hoje <a href=
        "https://www.gnu.org/philosophy/the-danger-of-ebooks.html">abolem as liberdades tradicionais dos leitores.</a></li>

        <li><a href="http://www.nature.com/nature_education/biology.html">Um site de biologia</a> que você pode acessar apenas assinando um
        <a href="http://www.nature.com/principles/viewTermsOfUse">contrato para não emprestar a ninguém</a>, que o editor pode revogar à vontade.</li>

        <li><a href=
        "http://www.zdnet.com/news/seybold-opens-chapter-on-digital-books/103151">
        Publicação Eletrônica:</a> Um artigo sobre distribuição de livros em formato eletrônico e questões de direitos autorais que afetam o direito de ler uma cópia.</li>

        <li><a href=
        "http://www.microsoft.com/en-us/news/press/1999/Aug99/SeyboldPR.aspx">Livros dentro de computadores:</a> Software para controlar quem pode ler livros e documentos em um PC.</li>
    </ul>

    <p>
        Se quisermos parar as más notícias e criar boas notícias, precisamos nos organizar e lutar. A campanha <a href="http://defectivebydesign.org/">Defective by Design</a> da FSF começou - assine a lista de discussão da campanha para dar uma mãozinha. E <a href="http://www.fsf.org/associate">junte-se a FSF</a> para ajudar a financiar nosso trabalho.
    </p>

    <hr>

    <h3>Referências</h3>

    <ul>
        <li>United States Patent and Trademark Office, <cite>Intellectual
        Property [<em>sic</em>] and the National Information Infrastructure:
        The Report of the Working Group on Intellectual Property [<em>sic</em>]
        Rights,</cite> Washington, DC: GPO de 1995.</li>

        <li>Samuelson, Pamela, <a href=
        "http://www.wired.com/wired/archive/4.01/white.paper_pr.html">"The
        Copyright Grab,"</a> <em>Wired,</em> Janeiro de 1996, n.&nbsp;4.01.</li>

        <li>Boyle, James, <a href=
        "http://www.law.duke.edu/boylesite/sold_out.htm">"Sold Out,"</a>
        <em>New York Times,</em> 31 de março de 1996, sec.&nbsp;4,
        p.&nbsp;15.</li>

        <li>Editorial, <em>Washington Post,</em> <a href=
        "http://web.archive.org/web/20130508120533/http://www.interesting-people.org/archives/interesting-people/199611/msg00012.html">
        "Public Data or Private Data,"</a> 3 de novembro de 1996,
        sec.&nbsp;C, p.&nbsp;6.</li>

        <li><a href="http://www.public-domain.org/">Union for the Public
        Domain</a>&mdash;uma organização que visa resistir e reverter a superextensão de direitos autorais e patentes.</li>
    </ul>

    <hr>

    <p>A <a href="http://www.fsf.org/">Fundação do Software Livre</a> é o principal patrocinador organizacional do <a href="http://www.gnu.org/">Sistema Operacional GNU</a>. <strong>Sua missão é preservar, proteger e promover a liberdade de usar, estudar, copiar, modificar e redistribuir software de computador e defender os direitos dos usuários de Software Livre.</strong></p>


    <p>
        Direito Autoral &copy; 1996, 2002, 2007, 2009, 2010 Richard Stallman<br>
        Este ensaio foi escrito em 1996 e foi publicado em <cite>Comunicações do ACM,</cite> vol.&nbsp;40, n.&nbsp;2, Fevereiro de 1997.
    </p>

</div>
{% endblock %}
