<!-- extend base layout -->
{% extends "doc.html" %}
{% block doc %}
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <style>
        .contents,
        .references {
            list-style: none;
            text-indent: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="page-header">
        <h1 class="text-center">Carta agradecendo pelas 100,000 assinaturas
            <br><small>Ross Ulbricht</small>
        </h1>
        <h4 class="text-center">
            <p>
                Enviado em novembro de 2018
            </p>
        </h4>
    </div>
    <p class="text-center">
        <em>Site originario - <a href="https://freeross.org/letter-for-100k-signatures/">Free Ross Ulbricht</a></em>
    </p>
    <p>
        Me belisque, eu devo estar sonhando! 100,000 assinantes querem me ver fora da prisão! Isso é incrivel, ver uma
        enorme onda de apoio nesses primeiros meses desde o lançamento da petição
        <!--incerteza nessa frase-->.
    </p>
    <p>
        Nosso objetivo de 500 mil parece totalmente realizável agora.
    </p>
    <p>
        Eu não estava me sentindo esperançoso no tempo em que estou preso, Obrigado! 😀
    </p>
    <p>
        Se você ainda não assinou o pedido de clemência de Ross, pode assinar <a href="https://www.change.org/p/freerosspetition-we-seek-potus-s-clemency-for-ross-ulbricht-serving-double-life-for-a-website-realdonaldtrump-free-ross">
            aqui</a>.
    </p>
    <img src="../pages/img/Ross_100k_note.jpg" alt="">
</div>
{% endblock %}