{% include head.html %}

<body>
  <div class="container">

    {% include header.html %}

    {{ content }}
  </div>
  <footer>
    <p id="footer">Pode copiar, propriedade intelectual não existe! <a
      href="https://github.com/cypherpunksbr/cypherpunks.com.br" target="_blank"> <img class="icon"
        src="/imgs/github-brands.svg" /></a> <a
        href="https://t.me/joinchat/Dcseo0fns78QotA-tu2OtQ" target="_blank"> <img class="icon"
          src="/imgs/telegram-brands.svg" /></a></p>
  </footer>
</body>

</html>